@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600&display=swap');
*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Baloo Thambi 2', cursive !important;
    font-weight: 400;
}

body{
    font-family: 'Baloo Thambi 2', cursive !important;
    font-weight: 400;
    background: #232931;
    -webkit-font-smoothing: antialiased;
}


.menuClicado{
    border-bottom: solid 2px #eeeeee;
}